html, body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
  color: #222822; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

li {
  list-style-type: circle;
  margin: 10px 0; }

.content {
  padding-top: 140px; }

.jumptarget:before {
  content: "";
  display: block;
  height: 60px;
  margin: -60px 0 0; }

.header {
  padding: 0 20px;
  padding-top: 60px;
  height: 120px;
  line-height: 60px;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid transparent;
  background: white;
  z-index: 20;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-property: -webkit-transform, border-color;
  -moz-transition-property: -moz-transform, border-color;
  transition-property: transform, border-color;
  -webkit-transition-duration: 0.3s, 0.3s;
  -moz-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-timing-function: ease-in-out, ease-in-out;
  -moz-transition-timing-function: ease-in-out, ease-in-out;
  transition-timing-function: ease-in-out, ease-in-out; }
  .header.is-scrolled {
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -o-transform: translateY(-60px);
    transform: translateY(-60px);
    border-color: #cacfca; }

.header-logo, .header-logo-small {
  display: block;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out, ease-in-out;
  -moz-transition-timing-function: ease-in-out, ease-in-out;
  transition-timing-function: ease-in-out, ease-in-out; }

.header-logo {
  position: absolute;
  bottom: 20px;
  left: 70px;
  background: url("../img/logo_urbe_5_big.svg") no-repeat;
  background-size: contain;
  width: 200px;
  height: 79px; }
  .is-scrolled .header-logo {
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -o-transform: translateY(-60px);
    transform: translateY(-60px); }

.header-logo-text {
  text-decoration: none;
  color: #222822;
  position: absolute;
  left: 6px;
  top: 100%;
  line-height: 16px;
  font-size: 14px;
  margin-top: -10px; }
  .header-logo-text:visited, .header-logo-text:hover, .header-logo-text:active {
    text-decoration: none;
    color: #222822; }

.header-logo-small {
  position: absolute;
  bottom: 10px;
  left: 40px;
  background: url("../img/logo_urbe_5_small.svg") no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  -webkit-transform: translateY(60px);
  -moz-transform: translateY(60px);
  -ms-transform: translateY(60px);
  -o-transform: translateY(60px);
  transform: translateY(60px); }
  .is-scrolled .header-logo-small {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); }

.header-nav {
  text-align: center; }

.header-nav-link {
  padding: 0 10px;
  display: inline-block;
  vertical-align: bottom;
  text-decoration: none;
  color: rgba(34, 40, 34, 0.8);
  border-bottom: 3px solid rgba(202, 207, 202, 0.8);
  height: 40px;
  line-height: 40px; }
  .header-nav-link:hover {
    color: #222822;
    border-color: rgba(113, 168, 59, 0.8); }
  .header-nav-link.active {
    border-color: #71a83b; }

@media (max-width: 830px) {
  .header {
    padding-left: 0;
    padding-right: 0; }
  .header-logo {
    position: absolute;
    bottom: auto;
    top: 10px;
    left: 50%;
    margin-left: -100px; }
  .header-logo-text {
    display: none; }
  .header-logo-small {
    position: absolute;
    bottom: 30px;
    height: 20px;
    left: 50%;
    margin-left: -20px;
    -webkit-transform: translateY(120px);
    -moz-transform: translateY(120px);
    -ms-transform: translateY(120px);
    -o-transform: translateY(120px);
    transform: translateY(120px); }
  .header-nav {
    white-space: nowrap; }
  .header-nav-link {
    height: 30px;
    line-height: 30px;
    font-size: 12px; } }

.section {
  margin-bottom: 100px; }

.section-content {
  max-width: 500px;
  margin: 20px auto;
  margin-top: 40px; }

.section-title {
  position: relative;
  z-index: 10;
  height: 160px;
  overflow: hidden;
  margin: 0 auto;
  max-width: 800px; }

.section-title-content {
  width: 100%;
  max-width: 500px;
  position: relative;
  height: 160px;
  left: -40px;
  margin: 0 auto; }

.section-title-content-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 40px;
  padding-bottom: 0;
  font-size: 40px;
  background: rgba(255, 255, 255, 0.85);
  background-color: rgba(255, 255, 255, 0.3);
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.9) 50%, white 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.9) 50%, white 100%);
  color: #71a83b; }

.section-title-background {
  position: absolute;
  top: 0;
  bottom: -150px;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 0.5; }

.section-title-background-team {
  background: url("../img/bg-5.jpg") no-repeat;
  background-size: cover; }

.section-title-background-services {
  background: url("../img/bg-2.jpg") no-repeat;
  background-size: cover; }

.section-title-background-obras {
  background: url("../img/bg-3.jpg") no-repeat;
  background-size: cover; }

.section-title-background-contact {
  background: url("../img/inicio-bg.jpg") no-repeat;
  background-size: cover; }

@media (max-width: 830px) {
  .section-content, .section-title {
    padding: 0 20px; } }
