.section {
    margin-bottom: 100px;
}

    .section-content {
        max-width: $max-content-width;
        margin: $grid-l auto;
        margin-top: 2*$grid-l;
    }

    .section-title {
        position: relative;
        z-index: 10;
        height: $section-title-height;
        overflow: hidden;
        margin: 0 auto;
        max-width: $max-titles-width;
    }
        .section-title-content {
            width: 100%;
            max-width: $max-content-width;
            position: relative;
            height: $section-title-height;
            left: -2*$grid-l;
            margin: 0 auto;
        }
        .section-title-content-text {
            position: absolute;
            bottom: 0;
            left: 0;
            padding: $grid-l 2*$grid-l;
            padding-bottom: 0;
            font-size: 40px;
            background: rgba(255,255,255, 0.85);
            @include linear-gradient(rgba(255,255,255, 0.3) 0%, rgba(255,255,255, 0.9) 50%, rgba(255,255,255, 1) 100%);
            color: $green;
        }
        .section-title-background {
            position: absolute;
            top: -80px;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
            opacity: 0.5;
            @include transition-property(transform);
            @include transition-duration(0.3s);
            @include transition-timing-function(linear);
        }
        .section-title-background-team {
            background: url("../img/bg-5.jpg") no-repeat;
            background-size: cover;
        }
        .section-title-background-services {
            background: url("../img/bg-2.jpg") no-repeat;
            background-size: cover;
        }
        .section-title-background-obras {
            background: url("../img/bg-3.jpg") no-repeat;
            background-size: cover;
        }
        .section-title-background-contact {
            background: url("../img/inicio-bg.jpg") no-repeat;
            background-size: cover;
        }

    .section-contact-social-links {
        text-align: center;
        .twitter-link, .facebook-link {
            margin: $grid-l;
            margin-bottom: 0;
        }
    }

    @media (max-width: 830px) {
        .section-content, .section-title {
            padding: 0 $grid-l;
        }
    }
