//Colors
$green: #71a83b;
$soft-border: #cacfca;
$text-color: #222822;

//Grid
$grid-s: 5px;
$grid-m: 10px;
$grid-l: 20px;

//Layout
$header-height: 3*$grid-l;
$section-title-height: 8*$grid-l;
$max-content-width: 500px;
$max-titles-width: 800px;